@model QnA.Models.Questions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm("Upvote", "Questions", new { id = Model.ID }))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="+1" />
    }
    @using (Html.BeginForm("Downvote", "Questions", new { id = Model.ID }))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="-1" />
    }
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@using (Html.BeginForm("Create", "Answers", new { QuestionID = Model.ID }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Answers</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@foreach (var item in Model.Answers.OrderByDescending(i => i.Date))
{
    <p>@Html.DisplayFor(modelItem => item.Votes)</p>
    <p>@Html.DisplayFor(modelItem => item.Content)</p>
    <p>
        @using (Html.BeginForm("Upvote", "Answers", new { id = item.ID }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="+1" />
        }
        @using (Html.BeginForm("Downvote", "Answers", new { id = item.ID }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="-1" />
        }
    </p>
}
