@model IEnumerable<QnA.Models.Questions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <div class="content">@Html.DisplayFor(modelItem => item.Content)</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Views)
        </td>
        <td>
            @item.Answers.Count()
        </td>
        <td>
            @if (item.Tags.Count > 0)
            {
                var i = 0;
                var count = item.Tags.Count;
                foreach (var itemTag in item.Tags)
                {
                    if (++i != count)
                    {
                        <a href="@Url.Action("Index", "Home", new {q = "tags", param = itemTag.TagID})">@Html.DisplayFor(modelItemTag => itemTag.Tag.Name)</a>@:,
                                }
                    else
                    {
                        <a href="@Url.Action("Index", "Home", new {q = "tags", param = itemTag.TagID})">@Html.DisplayFor(modelItemTag => itemTag.Tag.Name)</a>
                    }
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) <br />
            @Html.ActionLink("Details", "Details", new { id=item.ID }) <br />
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
